
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!--<html lang="en" >-->

<head>

    <title>登录</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


<!--    <link rel="stylesheet" href="../static/css/style.css" type="text/css"  media="all">-->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}" media="all">

</head>


<body>

    <section class="main">
        <div class="logo text-center">
            <h1> <a href="index.html"> Universe Sign In Form</a></h1>
        </div>
        <div class="content-w3ls text-center">
            <img th:src="@{/images/admin.png}" class="img-responsive" alt="">
<!--            <img src="../static/images/admin.png" alt="" class="img-responsive">-->
            <form action="#" method="post">
                <div class="wthree-field">
                    <input name="text1" id="text1" type="text" value="" placeholder="Username" required>
                </div>
                <div class="wthree-field">
                    <input name="password" id="myInput" type="Password" placeholder="Password">
                </div>
                <div class="wthree-field">
                    <button type="submit" class="btn">Sign In</button>
                </div>
               <!-- <div class="login-bottom">
                    <a href="#url" class="">Create An Account</a>
                </div>-->
            </form>
        </div>
<!--        <div class="copyright">-->
<!--            <p>© 2020 Universe Signin Form. Made with love | Designed by <a-->
<!--                href="https://w3layouts.com" target="_blank">W3layouts</a></p>-->
<!--        </div>-->
    </section>

</body>

</html>