<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stytem.demo.mapper.impl.MenuMapper">

    <resultMap id="BaseResultMap" type="com.stytem.demo.bean.Menu">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="pattern" property="pattern" jdbcType="VARCHAR" />
        <collection property="roles" ofType="com.stytem.demo.bean.Role">
            <result column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="namezh" />
        </collection>
    </resultMap>

    <select id="getAllMenus" resultMap="BaseResultMap">
        select m.id,m.pattern,r.id as rid, r.name as rname ,r.nameZh as rnameZh
        from menu m left join menu_role mr on m.id=mr.mid left join role r on mr.rid=r.id;

    </select>
</mapper>