<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stytem.demo.mapper.impl.RoleMapper">

    <resultMap id="BaseResultMap" type="com.stytem.demo.bean.Role">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="nameZh" property="namezh" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllRoles" resultMap="BaseResultMap">
        select * from role;
    </select>
</mapper>